doctype html
html
    head
        meta(charset="utf-8")
        title Simple Web App
    body
        h1
            a(href="/topic") Server Side Javascript
        ul
            each f in files 
                li
                    a(href="/topic/"+f)= f
        article
            form(action = "/topic" method="post")
                p
                    input(type="text" name="title" placeholder="title")
                p
                    textarea(name="description")
                p
                    input(type="submit")

            