doctype html
html
    head
        meta(charset="utf-8")
        title
    body
        h1
            a(href="/topic") Server Side Javascript
        ul
            each f in files 
                li
                    a(href="/topic/"+f)= f
        article
            h2=title
            p= content
            
        
        a(href="/topic/new") new  
        