doctype html
html
    head
        meta(charset="utf-8")
        title upload
    body
        form(action="/up", method="post", enctype="multipart/form-data")
            p
                input(type="file" name ="first")
            p
                input(type="submit")