doctype html
html
    head
        meta(charset="utf-8")
        title Simple Web App
    body
        h1
            a(href="/topic") Server Side Javascript
        ul
            each t in topics
                li
                    a(href="/topic/"+t.id)= t.title
        article
            form(action = "/topic" method="post")
                p
                    input(type="text" name="title" placeholder="title")
                p
                    textarea(name="description" placeholder="description")
                p
                    input(type="text" name="author" placeholder="author")
                p
                    input(type="submit")
